DATABASE_URL="postgresql://postgres:postgres@localhost:5433/ecommerce_db"

PORT=3000
NODE_ENV=development

JWT_ACCESS_SECRET=change_this_access_secret
JWT_REFRESH_SECRET=change_this_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
